# =============== #
# Unity generated #
# =============== #
gui/Temp/
gui/Obj/
gui/Build
gui/Builds/
gui/Library/
gui/sysinfo.txt
gui/*.stackdump
gui/Assets/AssetStoreTools*
gui/*.apk
gui/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*/[Ee]xported[Oo]bj/
*/.vs/
*/*.userprefs
*/*.pidb
*/*.pidb.meta
*/*.suo
*/*.csproj
#*/*.sln
*/*.user
*/*.booproj
.consulo/
*/*.tmp
*/*.svd
Core/x64/*
Core/Debug/*

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
Core/CameraWrapper/bin/Debug/*
Core/VideoStream/x64/*

Core/*.dll
Core/*.lib
Core/VideoStream/*.dll
Core/VideoStream/*.lib
gui/*.dll

